/**
 * 1.3 - Transition
 */

$mobile_width: 480px;

$mobile_horizontal: 41.688em; // 667px

$tablet_width: 48.000em; // 768px

$tablet: 48.937em; // 783px

$tablet_horizontal: 61.938em; // 991px;

$desktop_width: 64.000em; //1024px

$large_screen: 75.000em; //1200px

$wide_width: 85.375em; //1366px

$diagonal_screen: 103.750em; //1660px

$ultra_wide_screen: 120em; //1920px
