/*
* https://github.com/premasagar/cleanslate
*/
.cleanslate,.cleanslate a,.cleanslate button,.cleanslate div,.cleanslate em,.cleanslate form,.cleanslate h1,.cleanslate h2,.cleanslate h3,.cleanslate h4,.cleanslate h5,.cleanslate h6,.cleanslate input,.cleanslate label,.cleanslate li,.cleanslate ol,.cleanslate option,.cleanslate p,.cleanslate select,.cleanslate span,.cleanslate strong,.cleanslate ul{background-attachment:scroll!important;background-color:transparent!important;background-image:none!important;background-position:0 0!important;background-repeat:repeat!important;border-color:currentColor!important;border-style:none!important;border-width:medium!important;bottom:auto!important;clear:none!important;clip:auto!important;color:inherit!important;counter-increment:none!important;counter-reset:none!important;cursor:auto!important;direction:inherit!important;display:inline!important;float:none!important;font-family:inherit!important;font-size:inherit!important;font-style:inherit!important;font-variant:normal!important;font-weight:inherit!important;height:auto!important;right:auto!important;letter-spacing:normal!important;line-height:inherit!important;list-style-type:inherit!important;list-style-position:outside!important;list-style-image:none!important;margin:0!important;max-height:none!important;max-width:none!important;min-height:0!important;min-width:0!important;opacity:1;outline:0!important;overflow:visible!important;padding:0!important;position:static!important;quotes:"" ""!important;left:auto!important;table-layout:auto!important;text-align:inherit!important;text-decoration:inherit!important;text-indent:0!important;text-transform:none!important;top:auto!important;unicode-bidi:normal!important;vertical-align:baseline!important;visibility:inherit!important;white-space:normal!important;width:auto!important;word-spacing:normal!important;z-index:auto!important;-webkit-background-origin:padding-box!important;background-origin:padding-box!important;-webkit-background-clip:border-box!important;background-clip:border-box!important;-webkit-background-size:auto!important;-moz-background-size:auto!important;background-size:auto!important;-webkit-border-image:none!important;-moz-border-image:none!important;-o-border-image:none!important;border-image:none!important;-webkit-border-radius:0!important;-moz-border-radius:0!important;border-radius:0!important;-webkit-box-shadow:none!important;box-shadow:none!important;-webkit-box-sizing:content-box!important;-moz-box-sizing:content-box!important;box-sizing:content-box!important;-webkit-column-count:auto!important;-moz-column-count:auto!important;column-count:auto!important;-webkit-column-gap:normal!important;-moz-column-gap:normal!important;column-gap:normal!important;-webkit-column-rule:medium none #000!important;-moz-column-rule:medium none #000!important;column-rule:medium none #000!important;-webkit-column-span:1!important;-moz-column-span:1!important;column-span:1!important;-webkit-column-width:auto!important;-moz-column-width:auto!important;column-width:auto!important;font-feature-settings:normal!important;overflow-x:visible!important;overflow-y:visible!important;-webkit-hyphens:manual!important;-moz-hyphens:manual!important;hyphens:manual!important;-webkit-perspective:none!important;-moz-perspective:none!important;-ms-perspective:none!important;-o-perspective:none!important;perspective:none!important;-webkit-perspective-origin:50% 50%!important;-moz-perspective-origin:50% 50%!important;-ms-perspective-origin:50% 50%!important;-o-perspective-origin:50% 50%!important;perspective-origin:50% 50%!important;-webkit-backface-visibility:visible!important;-moz-backface-visibility:visible!important;-ms-backface-visibility:visible!important;-o-backface-visibility:visible!important;backface-visibility:visible!important;text-shadow:none!important;-webkit-transition:all 0s ease 0s!important;transition:all 0s ease 0s!important;-webkit-transform:none!important;-moz-transform:none!important;-ms-transform:none!important;-o-transform:none!important;transform:none!important;-webkit-transform-origin:50% 50%!important;-moz-transform-origin:50% 50%!important;-ms-transform-origin:50% 50%!important;-o-transform-origin:50% 50%!important;transform-origin:50% 50%!important;-webkit-transform-style:flat!important;-moz-transform-style:flat!important;-ms-transform-style:flat!important;-o-transform-style:flat!important;transform-style:flat!important;word-break:normal!important}.cleanslate h1,.cleanslate h2,.cleanslate h3,.cleanslate h4,.cleanslate h5,.cleanslate h6,.cleanslate strong{font-weight:700!important}.cleanslate,.cleanslate div,.cleanslate form,.cleanslate h1,.cleanslate h2,.cleanslate h3,.cleanslate h4,.cleanslate h5,.cleanslate h6,.cleanslate ol,.cleanslate option,.cleanslate p,.cleanslate ul{display:block!important}.cleanslate h1{font-size:2em!important;padding:.67em 0!important}.cleanslate h2{font-size:1.5em!important;padding:.83em 0!important}.cleanslate h3{font-size:1.17em!important;padding:.83em 0!important}.cleanslate h4{font-size:1em!important}.cleanslate h5{font-size:.83em!important}.cleanslate ol,.cleanslate p,.cleanslate ul{margin:1em 0!important}.cleanslate ol li,.cleanslate ol ol li,.cleanslate ol ol ol li,.cleanslate ol ol ul li,.cleanslate ol ul ul li,.cleanslate ul li,.cleanslate ul ol ol li,.cleanslate ul ul li,.cleanslate ul ul ol li,.cleanslate ul ul ul li{list-style-position:inside!important;margin-top:.08em!important}.cleanslate ol ol,.cleanslate ol ol ol,.cleanslate ol ol ul,.cleanslate ol ul,.cleanslate ol ul ul,.cleanslate ul ol,.cleanslate ul ol ol,.cleanslate ul ul,.cleanslate ul ul ol,.cleanslate ul ul ul{padding-right:40px!important;margin:0!important}.cleanslate ul{list-style-type:disc!important}.cleanslate ol{list-style-type:decimal!important}.cleanslate ol ul,.cleanslate ul ul{list-style-type:circle!important}.cleanslate ol ol ul,.cleanslate ol ul ul,.cleanslate ul ol ul,.cleanslate ul ul ul{list-style-type:square!important}.cleanslate li{display:list-item!important;min-height:auto!important;min-width:auto!important;padding-right:20px!important}.cleanslate em{font-style:italic!important}.cleanslate a{color:#00f!important;text-decoration:underline!important}.cleanslate a:visited{color:#529!important}.cleanslate a,.cleanslate a *,.cleanslate button,.cleanslate input[type=button],.cleanslate input[type=checkbox],.cleanslate input[type=radio],.cleanslate input[type=submit],.cleanslate select{cursor:pointer!important}.cleanslate button,.cleanslate input[type=submit],.cleanslate a.button{text-align:center!important;padding:2px 6px 3px!important;border-radius:4px!important;text-decoration:none!important;font-family:arial,helvetica,sans-serif!important;font-size:small!important;-webkit-appearance:push-button!important;color:buttontext!important;border:1px solid #a6a6a6!important;background:#d3d3d3!important;background:-moz-linear-gradient(top,rgba(255,255,255,1) 0,rgba(221,221,221,1) 100%,rgba(209,209,209,1) 100%,rgba(221,221,221,1) 100%)!important;background:-webkit-gradient(linear,right top,right bottom,color-stop(0,rgba(255,255,255,1)),color-stop(100%,rgba(221,221,221,1)),color-stop(100%,rgba(209,209,209,1)),color-stop(100%,rgba(221,221,221,1)))!important;background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0,rgba(221,221,221,1) 100%,rgba(209,209,209,1) 100%,rgba(221,221,221,1) 100%)!important;background:-o-linear-gradient(top,rgba(255,255,255,1) 0,rgba(221,221,221,1) 100%,rgba(209,209,209,1) 100%,rgba(221,221,221,1) 100%)!important;background:-ms-linear-gradient(top,rgba(255,255,255,1) 0,rgba(221,221,221,1) 100%,rgba(209,209,209,1) 100%,rgba(221,221,221,1) 100%)!important;background:linear-gradient(to bottom,rgba(255,255,255,1) 0,rgba(221,221,221,1) 100%,rgba(209,209,209,1) 100%,rgba(221,221,221,1) 100%)!important;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0 )!important;-webkit-box-shadow:-1px 1px 0 #eee!important;-moz-box-shadow:-1px 1px 0 #eee!important;-o-box-shadow:-1px 1px 0 #eee!important;box-shadow:-1px 1px 0 #eee!important;outline:initial!important}.cleanslate button:active,.cleanslate input[type=button]:active,.cleanslate input[type=submit]:active{background:#3b679e!important;background:-moz-linear-gradient(top,rgba(59,103,158,1) 0,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%)!important;background:-webkit-gradient(linear,right top,right bottom,color-stop(0,rgba(59,103,158,1)),color-stop(50%,rgba(43,136,217,1)),color-stop(51%,rgba(32,124,202,1)),color-stop(100%,rgba(125,185,232,1)))!important;background:-webkit-linear-gradient(top,rgba(59,103,158,1) 0,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%)!important;background:-o-linear-gradient(top,rgba(59,103,158,1) 0,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%)!important;background:-ms-linear-gradient(top,rgba(59,103,158,1) 0,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%)!important;background:linear-gradient(to bottom,rgba(59,103,158,1) 0,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%)!important;border-color:#5259b0!important}.cleanslate button{padding:1px 6px 2px!important;margin-left:5px!important}.cleanslate input[type=hidden]{display:none!important}.cleanslate input,.cleanslate select{border:1px solid #ccc!important;vertical-align:middle!important}.cleanslate select{font-size:11px!important;font-family:helvetica,arial,sans-serif!important;display:inline-block}.cleanslate input:focus{outline:-webkit-focus-ring-color auto 5px!important;outline:initial!important}.cleanslate input[type=text]{background:#fff!important;padding:1px!important;font-family:initial!important;font-size:small!important}.cleanslate input[type=checkbox],.cleanslate input[type=radio]{border:1px solid #2b2b2b!important;border-radius:4px!important;outline:initial!important}.cleanslate input[type=radio]{margin:2px 2px 3px!important}.cleanslate [hidden]{display:none!important}.cleanslate{font-size:medium!important;line-height:1!important;direction:rtl!important;text-align:right!important;text-align:start!important;font-family:"Times New Roman",Times,serif!important;color:#000!important;font-style:normal!important;font-weight:400!important;text-decoration:none!important;list-style-type:disc!important}

:root {
    --primary-color: #00A4A6;
    --pastel-color: #D8EFEF;
    --highlight-color: #A6FFF8;
    --midrange-color: #09757A;
    --dark-color: #004249;
}

body.wpaas-debug-mode,
body.wpaas-debug-mode:before {
    margin-right: 350px !important;
}

body.wpaas-debug-mode .wpaas-debug-mode-notice {
    background: #F0E3F4;
}

    body.wpaas-debug-mode .wpaas-debug-mode-notice p {
        font-size: 18px;
        font-family: sans-serif;
        margin: 0;
        padding: 0.75em 1.5em;
    }

    body.wpaas-debug-mode .wpaas-debug-mode-notice svg {
        margin-top: -5px;
        margin-left: 10px;
        vertical-align: middle;
    }

body.wpaas-debug-mode #wpaas-debug-mode {
    width: 350px !important;
}

#wpaas-debug-mode {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    height: 100% !important;
    width: 0 !important;
    z-index: 9999 !important;
    background: var(--dark-color) !important;
    overflow-x: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
    font-family: sans-serif !important;
    font-size: 16px !important;
    line-height: 21px !important;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2) !important;
    -webkit-font-smoothing: auto !important;
    -moz-osx-font-smoothing: auto !important;
    color: #fff !important;
}

#wpaas-debug-mode .close-debug-mode {
    position: absolute !important;
    left: 15px !important;
    top: 12px !important;
}

    #wpaas-debug-mode .close-debug-mode:hover {
        cursor: pointer !important;
    }

#wpaas-debug-mode h5 {
    text-transform: uppercase !important;
    font-weight: 200 !important;
    padding: 15px 20px !important;
}

#wpaas-debug-mode hr {
    margin: 0 !important;
    background-color: #767676 !important;
    border: 0 !important;
    height: 2px !important;
}

#wpaas-debug-mode h4 {
    margin-bottom: 10px !important;
}

#wpaas-debug-mode .section {
    padding: 15px !important;
    background: var(--midrange-color) !important;
    margin-bottom: 2em !important;
}

body.admin-bar #wpaas-debug-mode {
    margin-top: 32px !important;
}

#wpaas-debug-mode > div {
    padding: 20px !important;
}

#wpaas-debug-mode ul li {
    margin-bottom: 1.25em !important;
    padding: 0 !important;
    list-style: none !important;
}

#wpaas-debug-mode label {
    color: #fff !important;
    margin-right: 4px !important;
    font-weight: bold !important;
}

#wpaas-debug-mode label.active {
    font-weight: bold !important;
}

#wpaas-debug-mode label:hover {
    cursor: pointer !important;
}

#wpaas-debug-mode label + div {
    padding: 8px 32px 0 0 !important;
}

#wpaas-debug-mode label + select {
    display: block !important;
    width: 85% !important;
    margin: 8px 32px 0 0 !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    padding: 5px !important;
}

	#wpaas-debug-mode label + select:after {
    content: "" !important;
    position: absolute !important;
    z-index: 2 !important;
    left: 8px !important;
    top: 50% !important;
    margin-top: -3px !important;
    height: 0 !important;
    width: 0 !important;
    border-top: 6px solid #f99300 !important;
    border-right: 6px solid transparent !important;
    border-left: 6px solid transparent !important;
    pointer-events: none !important;
	}

#wpaas-debug-mode input[type="radio"] {
    vertical-align: middle !important;
    position: relative !important;
    bottom: 2px !important;
    width: 0px !important;
    height: 0px !important;
    visibility: hidden !important;
}

#wpaas-debug-mode [type="radio"]:checked,
#wpaas-debug-mode [type="radio"]:not(:checked) {
    position: absolute !important;
    right: -9999px !important;
}

#wpaas-debug-mode [type="radio"]:checked + label,
#wpaas-debug-mode [type="radio"]:not(:checked) + label {
    position: relative !important;
    padding-right: 28px !important;
    cursor: pointer !important;
    line-height: 20px !important;
    display: inline-block !important;
}

#wpaas-debug-mode [type="radio"]:checked + label:before,
#wpaas-debug-mode [type="radio"]:not(:checked) + label:before {
    content: '' !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    width: 18px !important;
    height: 18px !important;
    border: 1px solid #ddd !important;
    border-radius: 100% !important;
    background: #fff !important;
}

#wpaas-debug-mode [type="radio"]:checked + label:after,
#wpaas-debug-mode [type="radio"]:not(:checked) + label:after {
    content: '' !important;
    width: 12px !important;
    height: 12px !important;
    background: var(--primary-color) !important;
    position: absolute !important;
    top: 4px !important;
    right: 4px !important;
    border-radius: 100% !important;
    -webkit-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}

#wpaas-debug-mode [type="radio"]:not(:checked) + label:after {
    opacity: 0 !important;
    -webkit-transform: scale(0) !important;
    transform: scale(0) !important;
}

#wpaas-debug-mode [type="radio"]:checked + label:after {
    opacity: 1 !important;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}


#wpaas-debug-mode input[type=checkbox] + label {
    display: block !important;
    margin: 0.2em !important;
    cursor: pointer !important;
    padding: 0.2em !important;
}

#wpaas-debug-mode input[type=checkbox] {
    display: none !important;
}

#wpaas-debug-mode input[type=checkbox] + label:before {
    content: "\2714" !important;
    border: 1px solid #656565 !important;
    border-radius: 0.2em !important;
    background: #fff !important;
    display: inline-block !important;
    width: 1em !important;
    height: 1em !important;
    padding-right: 0.2em !important;
    padding-bottom: 0.3em !important;
    margin-left: 0.2em !important;
    vertical-align: bottom !important;
    color: transparent !important;
    -webkit-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
    margin-left: 10px !important;
}

#wpaas-debug-mode input[type=checkbox] + label:active:before {
    transform: scale(0) !important;
}

#wpaas-debug-mode input[type=checkbox]:checked + label:before {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #fff !important;
}

#wpaas-debug-mode input[type=checkbox]:disabled + label:before {
    transform: scale(1) !important;
    border-color: #aaa !important;
}

#wpaas-debug-mode input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1) !important;
    background-color: #bfb !important;
    border-color: #bfb !important;
}

#wpaas-debug-mode input[type=submit],
#wpaas-debug-mode a.button {
    background: var(--primary-color) !important;
    border: none !important;
    color: white !important;
    padding: 8px !important;
    text-decoration: none !important;
    cursor: pointer !important;
    box-shadow: none !important;
    font-size: 15px !important;
    font-weight: 800 !important;
    width: 100% !important;
    flex: 0 49% !important;
    box-sizing: border-box !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

    #wpaas-debug-mode input[type=submit]:hover {
        opacity: 0.9 !important;
    }

    #wpaas-debug-mode a.button.secondary {
        background: transparent !important;
        border: 1px solid #fff !important;
        border-radius: 2px !important;
    }

    .panel {
        width: 100% !important;
        max-width: 600px !important;
        margin: 30px auto !important;
    }

    .cleanslate div.panel__body {
        margin-top: 2em !important;
    }

    .cleanslate ul.tabs {
        position: relative !important;
        margin: 0 !important;
        padding: 0 !important;
        list-style: none !important;
    }

    #wpaas-debug-mode ul li.tab,
    #wpaas-debug-mode ul li.tabs__presentation-slider {
        margin-bottom: 0 !important;
    }

    .cleanslate ul.tabs:after {
        content: ' ' !important;
        display: table !important;
        clear: both !important;
    }

    .cleanslate li.tabs__tab {
        float: right !important;
        width: 33.333% !important;
        text-align: center !important;
    }

    .cleanslate li.tabs__tab:first-child.active ~ .tabs__presentation-slider {
        right: 0 !important;
    }

    .cleanslate li.tabs__tab:nth-child(2).active ~ .tabs__presentation-slider {
        right: 33.333% !important;
    }

    .cleanslate li.tabs__tab:nth-child(3).active ~ .tabs__presentation-slider {
        right: calc(33.333% * 2) !important;
    }

    .cleanslate li.tabs__presentation-slider {
        position: absolute !important;
        bottom: 0 !important;
        right: 0 !important;
        top: 93% !important;
        border-radius: 2px !important;
        width: 33.333% !important;
        height: 5px !important;
        background-color: var(--primary-color) !important;
        transition: right .25s !important;
    }

    .cleanslate li.tab > a {
        display: block !important;
        padding: 10px 12px !important;
        text-decoration: none !important;
        color: #fff !important;
        transition: color .15s !important;
    }

    .tab.active > a {
        color: #222 !important;
    }

    .tab:hover > a {
        color: #222 !important;
    }

.cleanslate div.hidden {
    display: none !important;
}

.cleanslate span.plain-select {
    display:inline-block !important;
    vertical-align:middle !important;
    position:relative !important;
    margin: 0.5em 2em 0 0 !important;
}

#wpaas-debug-mode .plain-select select {
    line-height:normal !important;
    height:38px !important;
    -webkit-appearance:none !important;
    -moz-appearance:none !important;
    -ms-appearance:none !important;
    appearance:none !important;
    width:200px !important;
    border-radius:6px !important;
    display:block !important;
    border:1px solid #c8c8c8 !important;
    background:#fff !important;
    font-size: 15px !important;
    color:#9f9f9f !important;
    padding: 1px 10px 1px 20px !important;
    margin:0 !important;
    line-height:normal !important;
    -webkit-border-radius:2px !important;
    -moz-border-radius:2px !important;
    border-radius:4px !important;
    color: #333333 !important;
}

#wpaas-debug-mode .plain-select select:focus {
    background:#f9f9f9 !important;
    outline:none !important;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3), inset 0 0 7px rgba(100,100,100,0.3) !important;
    border-color:#00c0f3 !important;
}

#wpaas-debug-mode .plain-select ::-ms-expand {
    display:none !important;
}

#wpaas-debug-mode .plain-select:after {
    content:"" !important;
    position:absolute !important;
    z-index:2 !important;
    left:8px !important;
    top:56% !important;
    margin-top:-3px !important;
    height:0 !important;
    width:0 !important;
    border-top:6px solid var(--primary-color) !important;
    border-right:6px solid transparent !important;
    border-left:6px solid transparent !important;
    pointer-events:none !important;
}

div.actions {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
}
